.App {
  text-align: center;
}

.alphabet-image {
  width: 100%;
  height: auto;
}

.copytoon-image {
  width: 100%;
  height: auto;
  padding: 20px;
}

.rat-image {
  width: 80%;
  height: auto;
  padding: 20px;
}

article {
  text-align: center;
  width: 90%;
  padding-left: 5%;
}